*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circle{
    padding: 50px 0 0 100px;
}
h2{
    font-family: cursive;
    color: #555;
    padding: 20px 0;
}
.form{
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 2px solid salmon;
    border-radius: 10px;
    padding: 30px;
}
label{
    font-size: 1,2rem;
    font-family: cursive;
    color: #555;
    padding: 8px 0; 
}
input,button{
    outline: none;
    border: 2px solid salmon;
    padding: 8px 10px;
    font-size: 1.2rem;
    color: #555;
    border-radius: 10px;
}
button{
    width: 60%;
    border-radius: 100px;
    margin-top: 40px;
}
button:hover{
    background: pink;
    color: #555;
    cursor: pointer;
}