<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../../css/home.css">
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam quod est velit ipsam non, fugit sunt debitis vitae placeat facilis eos dolorum molestiae iste necessitatibus hic quidem! Assumenda, eveniet suscipit?</p>

    <a href="/register">Register</a>
</body>
</html>