<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../../css/register.css">
</head>
<body>
    <h1>Register Form</h1>
    <div>
        <form action="/register" method="POST" class="form">
            <label for="firstName">First Name : </label>
            <input type="text" name="firstName" id="firstName"><br>

            <label for="lastName">Last Name : </label>
            <input type="text" name="lastName" id="lastName"><br>

            <label for="userEmail"> Email: </label>
            <input type="text" name="userEmail" id="userEmail"><br>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>