<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>circle</title>
    <link rel="stylesheet" href="../css/circle.css">
</head>
<body>
    <div class="circle">
        <h2>Calculate Radius Of Circel</h2>
        <form action="/circle" method="POST" class="form">
            <label for="clc_radius">Enter Radius</label>
            <input type="text" name="radius" id="clc_radius">

            <button type="submit">Calculate</button>
        </form>
    </div>
</body>
</html>